:root{
  --light-pink: #ffccda;
  --normal-pink: #ff668f;
  --bright-red: #fe0044;
  --dark-red: #990029;
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template: 95% 5% / 100%;
  background-color: var(--light-pink);
  color: var(--light-pink);
  font-family: "League Gothic", sans-serif;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: var(--dark-red);
  border-radius: 2rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.score-board {
  display: flex;
  justify-content: space-between;
  background-color: var(--bright-red);
  padding: 2rem;
  border-radius: 2rem;
  font-size: 3rem;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}

.score {
  font-size: 5rem;
  font-family: "League Gothic", sans-serif;
}

.three-buttons {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.move-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 6rem;
  background-color: var(--bright-red);
  border-radius: 2rem;
  gap: 2rem;
  padding: 2rem;
  flex: 1;
  width: 18rem;
  transition: background-color 0.1s , transform 0.3s , box-Shadow 0.3s;
  cursor: pointer;
  user-select: none;
}

.move-button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 2rem 0.5rem var(--light-pink);
}

.move-button:active{
  background-color: var(--normal-pink);
}

.emoji {
  font-size: 9rem;
}

.arena {
  background-color: var(--bright-red);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  user-select: none;
}

#player-move,
#computer-move {
  font-size: 5.5rem;
}

.outcome {
  background-color: var(--bright-red);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  font-size: 4rem;
  user-select: none;
}

/* footer */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--normal-pink);
  font-size: 3rem;
  user-select: none;
}

footer a {
  text-decoration: none;
  margin:auto 1rem;
  transition: transform 0.3s;
}

footer a:hover{
  transform: scale(1.2);
}

/* Media Queries */
@media screen and (max-width: 850px){
  :root{
    font-size: 4px;
  }
}

@media screen and (max-width: 350px){
  :root{
    font-size: 3px;
  }
}