:root{
  --light-pink: #ffccda;
  --normal-pink: #ff668f;
  --bright-red: #fe0044;
  --dark-red: #990029;
  --very-dark-red: #33000e;
  font-size: clamp(4.5px,0.9vw,11px);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template: 95% 5% / 100%;
  background-color: var(--light-pink);
  color: var(--light-pink);
  font-family: "League Gothic", sans-serif;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: var(--dark-red);
  border-radius: 2rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.score-board {
  display: flex;
  justify-content: space-between;
  background-color: var(--bright-red);
  padding: 2rem;
  border-radius: 2rem;
  font-size: 3rem;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}

.score {
  font-size: 5rem;
  font-family: "League Gothic", sans-serif;
}

.three-buttons {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.move-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 6rem;
  background-color: var(--bright-red);
  border-radius: 2rem;
  gap: 2rem;
  padding: 2rem;
  flex: 1;
  width: 18rem;
  transition: background-color 0.1s , transform 0.3s , box-Shadow 0.3s;
  cursor: pointer;
  user-select: none;
}

.move-button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 2rem 0.5rem var(--light-pink);
}

.move-button:active{
  background-color: var(--normal-pink);
}

.emoji {
  font-size: 9rem;
}

.arena {
  background-color: var(--bright-red);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  user-select: none;
}

#player-move,
#computer-move {
  font-size: 5.5rem;
}

.outcome {
  background-color: var(--bright-red);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  font-size: 4rem;
  user-select: none;
}

/* footer */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--normal-pink);
  font-size: 3rem;
  user-select: none;
  white-space: nowrap;
}

/* footer */

footer a {
  text-decoration: none;
  margin:auto 1rem;
  transition: transform 0.3s;
}

footer a:hover{
  transform: scale(1.2);
}

/* modal */
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 2rem;
  z-index: 10;
  background-color: var(--normal-pink);
  color: var(--light-pink);
  padding: 2.5rem;
  /* width: 70rem;  temp */
  user-select: none;
}

.modal.active{
  transform: translate(-50% , -50%) scale(1);
}

.modal-header{
  display: flex;
  font-size: 6rem;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 5rem;
}

.modal-result-emoji{
  font-size: 0.5em;
  text-shadow:0.5rem 0.5rem 0.5rem var(--very-dark-red);
}

span[data-modal-close-button]{
  --close-button-size: 2.5rem;
  --bg-color: var(--light-pink);
  color: var(--normal-pink);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--close-button-size);
  height: var(--close-button-size);
  font-size: calc(var(--close-button-size) * 1.8);
  border: calc(var(--close-button-size) / 10) solid var(--bg-color);
  border-radius: 50%;
  position: fixed;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.modal-score-board{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  gap: 10rem;
}

span.final-score{
  font-size: 5rem;
  white-space: nowrap;
}

#overlay{
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--dark-red);
  pointer-events: none;
}

#overlay.active{
  opacity: 0.7;
  pointer-events: all;
}