:root{
  --light-pink: #ffccda;
  --normal-pink: #ff668f;
  --bright-red: #fe0044;
  --dark-red: #990029;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template: 95% 5% / 100%;
  background-color: var(--light-pink);
  color: var(--light-pink);
  font-family: "League Gothic", sans-serif;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: var(--dark-red);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.score-board {
  display: flex;
  justify-content: space-between;
  background-color: var(--bright-red);
  padding: 20px;
  border-radius: 20px;
  font-size: 30px;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}

.score {
  font-size: 50px;
  font-family: "League Gothic", sans-serif;
}

.three-buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.move-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 60px;
  background-color: var(--bright-red);
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  flex: 1;
  width: 180px;
  transition: background-color 0.1s , transform 0.3s , box-Shadow 0.3s;
  cursor: pointer;
  user-select: none;
}

.move-button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px var(--light-pink);
}

.move-button:active{
  background-color: var(--normal-pink);
}

.emoji {
  font-size: 90px;
}

.arena {
  background-color: var(--bright-red);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  user-select: none;
}

#player-move,
#computer-move {
  font-size: 55px;
}

.outcome {
  background-color: var(--bright-red);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  user-select: none;
}

/* footer */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--normal-pink);
  font-size: 30px;
  user-select: none;
}

footer a {
  text-decoration: none;
  margin:auto 10px;
  transition: transform 0.3s;
}

footer a:hover{
  transform: scale(1.2);
}